.avatar-circle {
	background-color: #3182CE;
	border: 2px solid #ffffff;
	border-radius: 9999px;
	color: #ffffff;
	font-size: 9px;
	display: inline-block;
	height: 28px;
	line-height: 24px;
	text-align: center;
	width: 28px;
}

.avatars-list {
	display: flex;

	.avatar-circle {
		margin-left: -8px;
	}
}