.primary-sidebar {
	width: 4rem;
	flex: 0 0 4rem;

	.nav {
		box-shadow: inset -1rem 0 0.5rem -0.5rem rgba(0, 0, 0, 0.05);
	}

	.nav-link {
		font-size: 0.8em;
		color: rgba(255, 255, 255, 0.7);
		padding: 1em 0.25em;
		text-align: center;

		.icon {
			display: block;
			font-size: 1.5rem;
			font-weight: normal;
		}

		&:hover {
			color: rgba(255, 255, 255, 1);
		}
		&.active {
			background: theme-color("light");
			color: theme-color("primary");
			font-weight: bold;
		}
	}

}
.secondary-sidebar {
	background: theme-color("light");
	box-shadow: inset -1rem 0 0.5rem -0.5rem rgba(0, 0, 0, 0.05);
	color: #999999;
	flex: 0 0 14rem;
	overflow-y: auto;
	scrollbar-width: thin;
	width: 14rem;
}
.top-bar {
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #eceff1;
	color: #999999;
	margin: 0 ($grid-gutter-width / -2);
	padding: ($spacer / 2) ($grid-gutter-width / 2);
	text-align: center;
}
.page-header {
	margin: 0 ($grid-gutter-width / -2);
	padding: ($spacer / 2) ($grid-gutter-width / 2) 0;

	.nav.nav-underline {
		font-size: 0.7em;

		.nav-link {
			border-bottom: 0.2rem solid transparent;
			color: #666666;
			margin-bottom: -0.2rem;
			text-transform: uppercase;

			transition: 0.2s border-bottom-color;

			&:hover,
			&.active {
				border-bottom-color: theme-color("primary");
			}
		}
	}
}

